<app-filter (filterChange)="filterChange($event)"
            [defaultFilter]="filter$ | async">

</app-filter>
<div class="btn-group"
     role="group"
     aria-label="Action Buttons">
    <button (click)="add()"
            type="button"
            class="btn btn-info btn-sm">Add New Task</button>

</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Assignee
            </th>
            <th>
                Description
            </th>
            <th>
                Completed
            </th>
            <th class="action">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of dataSource$ | async; let i = index">
            <td>
                {{task.id}}
            </td>
            <td>
                {{task.assigneeDescription}}
            </td>
            <td>
                {{task.description}}
            </td>
            <td>
                {{task.completed | completeStatus}}
            </td>
            <td class="action">
                <div class="btn-group">
                    <button (click)="edit(task)"
                            type="button"
                            class="btn btn-outline-info btn-sm">Edit</button>


                    <div class="dropdown">
                        <button class="btn btn-outline-info btn-sm dropdown-toggle"
                                type="button"
                                id="dropdownMenu2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            More
                        </button>
                        <ul class="dropdown-menu"
                            aria-labelledby="dropdownMenu2">
                            <li>
                                <button (click)="complete(task)"
                                        type="button"
                                        class="dropdown-item">Complete</button>
                            </li>
                            <li>
                                <button (click)="complete(task, false)"
                                        type="button"
                                        class="dropdown-item">Marked completed as NO</button>
                            </li>
                            <li>
                                <button (click)="assign(task)"
                                        type="button"
                                        class="dropdown-item">Assign Task</button>
                        </ul>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
</table>